.inicio{
  display: flex;
flex-direction: column;
justify-content:center ;
align-items: center;
}

p{
  font-size: 6vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  margin: 0 5vw 0 5vw;
}
